# Nội dung cho file docker-compose.yml của bạn

version: '3.7'
services:
  app:
    image: "thuonghai2711/ubuntu-novnc-pulseaudio:20.04"
    privileged: true
    shm_size: 1g
    ports:
      - "8080:10000"
    environment:
      - VNC_PASSWD=password
      - PORT=10000
      - AUDIO_PORT=1699
      - WEBSOCKIFY_PORT=6900
      - VNC_PORT=5900
      - SCREEN_WIDTH=1024
      - SCREEN_HEIGHT=768
      - SCREEN_DEPTH=24
    
    # --- SỬA LỖI: THÊM 3 DÒNG NÀY ---
    # Chia sẻ Docker socket vào bên trong container này
    # để script Python (Docker SDK) có thể tìm thấy và sử dụng nó
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
